__pycache__/
*.py[cod]
*$py.class
*.log
*.swp
*/*.swp
*/*/*.swp
*.pyc
*/*.pyc
*/*/*.pyc
.vscode/
test.py
data/*
save/*
configs/trans_8_4_512units_sp.yaml
configs/trans_8_4_512units.yaml
configs/bd_8_4_512units_sp.yaml
configs/bd_8_4_512units.yaml

